<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Snippet Saver</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white p-6 font-mono">

  <!-- Top-Right Buttons Container -->
  <div class="absolute top-4 right-4 flex gap-2">
    <a 
      href="/logout"
      class="bg-transparent border border-red-500 text-red-400 
             hover:bg-red-600 hover:text-white mt-5 mr-5
             text-sm font-bold py-2 px-4 rounded-md 
             transition duration-200">
      Logout
    </a>
  </div>

  
  <!-- Main Container -->
  <div class="min-h-screen flex flex-col items-center text-green-400 px-4">

    <!-- Greeting -->
    <div class="mt-20 mb-4">
      <h3 class="text-2xl font-bold mb-6">
        Hello, <%= user.name %> 👾
      </h3>
    </div>

    <!-- Form to Add New Snippet -->
    <form 
      action="/post" method="POST"
      class="w-full max-w-2xl flex flex-col items-center">
      
      <textarea
        name="content"
        required
        placeholder="Save your code snippets here" 
        class="w-full bg-black border border-green-500 resize-none text-green-300
               placeholder:text-gray-400 placeholder:italic font-mono px-4 py-3 rounded 
               outline-none mb-5 caret-white"
        rows="6"
      ></textarea>

      <input 
        type="submit"
        value="Save"
        class="bg-transparent border border-yellow-500 text-yellow-400 
             hover:bg-yellow-450 hover:text-white mt-5 mr-5
             text-sm font-bold py-2 px-4 rounded-md 
             transition duration-200">
    </form>

    <!-- Snippets Section -->
    <div class="w-full max-w-2xl mt-12">
      <h3 class="text-xl font-semibold text-white mb-4 border-b border-gray-700 pb-2">
        Your Saved Snippets
      </h3>

      <!-- Cards -->
      <div class="posts-container mt-5">
        <% user.posts.reverse().forEach((post) => { %>
          <div class="bg-gray-900 border-[1px] border-purple-500 rounded-lg p-4 mb-4">
            <h4 class="text-purple-400 font-bold mb-2"><%= user.name %></h4>
            <p class="text-green-300 whitespace-pre-wrap"><%= post.content %></p>
            <div class="btns flex gap-4 mt-2">
              <form action="/post/<%= post._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="text-red-400 hover:underline bg-transparent border-none cursor-pointer">Delete</button>
              </form>
               <form action="/post/<%= post._id %>/edit" method="GET" style="display:inline;">
                <button type="submit" class="text-red-400 hover:underline bg-transparent border-none cursor-pointer">Edit</button>
              </form>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

  </div>

</body>
</html>
